.error{
    animation: animation 0.2s ease;
}
@keyframes animation {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translate(-10px);
    }
    100%{
        transform: translateX(0);
    }
}