<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main class="page">
        {%if courses%}
            {%for i in courses%}
                {{i.name}}
                {{i.description}}
                <img src="{{url_for('views.get_image',img_name=i.image_name)}}" alt="">
            {%endfor%}
        {%else%}
            <p>No courses yet!</p>
        {%endif%}
        <form action="">
            
        <button>Add course</button>    
        </form>
        
    </main>
</body>
</html>